body {
  color: black;
  text-align: left;
  background-color: black;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  cursor: none;
}

section {
  height: 100vh;
  position: relative;
}

section:nth-of-type(1) {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 1) 100%), url('/background/rtx-gallery-thumb-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

section:nth-of-type(2) {
  background: linear-gradient(black 20%, #111 50%, black 80%);
}

section:nth-of-type(3) {
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: center;
  /* 水平置中 */
  align-items: flex-end;
  /* 對齊底部 */
  padding-bottom: 5vh;
}

section:nth-of-type(5) {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 1) 100%), url('/background/mdvmefeejg331.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

section:nth-of-type(6) {
  background-color: black;
}


.content {
  padding-left: 4vw;
  padding-top: 4vw;
}

section h1 {
  font-size: 8vh;
  color: white;
  margin-top: 0;
  padding-top: 5vw;
  opacity: 0.7;
}

h2 {
  font-size: 5vh;
  color: white;
  margin: 0 0 0.3em 0;
  opacity: 0.7;
}

h3 {
  font-size: 4.5vh;
  color: white;
  margin: 0 0 0.1em 0;
}

p {
  color: white;
  font-size: 3.5vh;
  margin-top: 0;
  line-height: 1.5;
}

section:nth-of-type(2) .content {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

/* 右侧图片区 */
.right-panel {
  width: 45%;
  text-align: center;
  color: white;
}

.right-panel img.chip {
  width: 90%;
  margin-bottom: 1rem;
}

.right-panel h4 {
  font-size: 4vh;
  margin: 0.5em 0 0.3em;
  opacity: 0.9;
}

.right-panel .specs {
  font-size: 3vh;
  opacity: 0.8;
}

.right-panel img.card {
  width: 85%;
  opacity: 0.9;
  filter: brightness(1.2);
}

img.chart {
  width: 90vw;
  margin-top: 10vh;
}

iframe.video {
  width: 70vw;
  aspect-ratio: 16/9;

}

* {
  box-sizing: border-box;
}

.img-comp-container {
  position: relative;
  width: 70vw;
  filter: drop-shadow(0px 0px 50px rgba(255, 255, 255, 0.2));
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  vertical-align: middle;
  width: 70vw;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  width: 40px;
  height: 40px;
  background-color: black;
  opacity: 0.7;
  border-radius: 50%;
}


.grid-container {
  display: flex;
  gap: 2vw;
}

.grid-item {
  background: radial-gradient(circle at center,
      #444 0%,
      /* 中心淺灰 */
      #222 50%,
      /* 過渡 */
      #0f0f0f 100%
      /* 外圍暗灰 */
    );
  padding: 2vw;
  border-radius: 2vw;
  text-align: center;
  width: 17vw;
  height: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* 垂直置中 */
  align-items: center;
  /* 水平置中 */
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.grid-item:hover {
  transform: scale(1.1);
  background-color: #222;
}

.grid-item span {
  display: block;
  margin-top: 1vh;
  font-size: 2.5vh;
}

.highlight {
  color: #4CAF50;
  /* 可以用綠色標出重點 */
  font-weight: bold;
}

.spec-line {
  display: flex;
  align-items: baseline;
  /* 數字與文字基線對齊 */
  gap: 0.6em;
  /* 數字與文字距離 */
  white-space: nowrap;
  /* 強制不換行 */
}

.unit {
  font-size: 0.9em;
  opacity: 0.85;
}

/* 3D Canvas */
#container3D {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
}

#container3D canvas {
  width: 100%;
  height: 100%;
  display: block;
}

/* ===== 文字升起动画 ===== */

/* 遮挡容器 */
.reveal {
  overflow: hidden;
}

/* 初始狀態 */
.reveal>* {
  transform: translateY(120%);
  transition: none;
}

#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;

  pointer-events: none; 
  z-index: 9999;

  filter: drop-shadow(0px 0px 15px rgba(255, 0, 0, 1));

  transform: translate(-50%, -50%);
}
